.guding-width {
    width: 80%;
    margin: 0 auto;
}

.top-sec-wrapper {
    height: 80px;
    /*background-color: #bfa;*/
    width: 80%;
    margin: 0 auto;
    padding: 5px 0;
}

.left-sec-img-logo {
    float: left;
}

.left-sec-img-logo img {
    width: 150px;
    margin-left: 20px;
}

.mysearch {
    width: 600px;
    float: left;
    /*background-color: #fba;*/
    line-height: 70px;
}

.top-sec-wrapper .mysearch form {
    margin-top: 0;
}

.mysearch .navbar-form input {
    height: 40px;
    width: 460px;
    margin-bottom: 4px;
}

.mysearch .navbar-form button {
    width: 80px;
    height: 40px;
}

.mysearch-mytype {
    float: left;
    line-height: 70px;
    margin-left: 210px;
    /*width: 94px;*/
    /*margin: 0 0 0 6%;*/
}

.mysearch-mytype button {
    height: 40px;
}

.myauction{
    float: right;
    height: 40px;
    margin: 15px 0;
}

.myauction ul{
    margin-right: 20px;
    line-height: 40px;
}

.myauction a{
    display: block;
    padding: 0 10px;
    color: rgb(119,119,160);
}

.myauction a:hover{
    color: black;
    text-decoration-line: none;
}

button:focus{
    outline: 0 !important;
}

.mybody a:hover{
    text-decoration-line: none;
}

.mybody a:focus{
    text-decoration-line: none;
    outline: 0;
}

/*  导航栏 */
.layui-nav-child a{
    line-height: 36px;
    padding: 5px 0;
}


.middle-content-div{
    width: 80%;
    margin: 10px auto 0 auto;
}


.middle-content-list .hiddenMyContentIndex{
    display: none;
}

.layui-card-body{
    text-align: center;
}

.theAuctionList img{
    width: 300px;
    height: 160px;
    margin: 0 auto;
}

.myAuctionListA{
    display: block;
}

