.myVIP-info-topPart{
    height: 110px;
}

.myVIP-info-topLeft{
    float: left;
}

.myVIP-info-topLeft1{
    float: left;
    padding: 0 5px;
    line-height: 110px;
}

.myVIP-info-topLeft1 img{
    width: 68px;
}

.myVIP-info-topLeft2{
    float: left;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
}

.myVIP-info-topLeft2-name{
    font-weight: bold;
    font-size: 22px;
    display: block;
    margin-bottom: 2%;
    margin-top: 30px;
}

.myVIP-btn{
    float: left;
}

.myVIP-btn button{
    margin-top: 30px;

}

.myVIP-info-topRight{
    float: right;
    line-height: 110px;
}


/*  商家板块  ---- 类似修改密码部分 */
.mysaler-info-div{
    width: 50%;
    margin: 50px auto;
}

.mysaler-info-btn p{
    text-align: center;
    margin-top: 30px;
}

