.saleGoods-info-div{
    width: 80%;
    margin: 0 auto;
}

/* 覆盖默认值 */
.saleGoods-info-div .layui-form-label{
    width: 100px;
}


.layui-input-block p{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.layui-upload-drag{
    margin-left: 10px;
}


